* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0;
}
/* Navigation Bar */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    color: #F9FAF8;
    padding-block: 30px;
    padding-inline: 490px;
}

.logo {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0px 4px 0 rgb(158, 158, 158);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-family: sans-serif;
}

.nav-bar a:hover {
    background-color: rgb(87, 199, 161);
    color: rgb(15, 15, 15);
}

/* Hero */

.hero {
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 5rem;
}

.left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 2;
}

.left p {
    color: #fff;
    opacity: 70%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.left button {
    background-color: rgb(87, 199, 161);
    color: black;
    width: 100px;
    border-radius: 5px;
    padding: 6px 24px;
}

button:hover {
    background-color: black;
    color: white;
}

.right {
    width: 450px;
    height: auto;
    margin: 20px 0;
    box-shadow: 0 0px 4px 0 rgb(61, 61, 61);

}

/* center */

h2 {
    font-size: 36px;
    align-items: center;
    font-weight: bolder;
    text-align: center;
}

.crows {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 0;
    flex-wrap: wrap;
}

.center img {
    width: 180px;
    height: 180px;
    border  : 2px solid rgb(24, 83, 64);
    border-radius: 15%;
    margin: 24px;
    margin-bottom: 0;
    box-shadow: 0 3px 3px 0 rgb(54, 53, 53);
}

.center p {
    font-size: 14px;
    max-width: 180px;
    text-align: center;
    margin: 24px;
}

/* Quote */

.second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(182, 182, 182);
    padding: 50px;
    text-align: center;
}

.quote {
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    text-align: center;
    margin: 80px 500px;
}

.author {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Call to action */

.third {
    background-color: rgb(87, 199, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 80px 500px;
    padding: 10px;
    gap: 5rem;
}

.call {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px;
    flex-shrink: 0;
}

h3 {
    margin: 0;
}

.call p {
    opacity: 70%;
    margin: 0;
}


button {
    background-color: rgb(87, 199, 161);
    color: black;
    border-radius: 5px;
    border-color: white;
    padding: 8px 24px;
}

/* Footer */

footer {
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px; 
}